<?xml version="1.0"?>
<configuration>
  <appSettings>
	    <add key="Sqlconn" value="Data Source=DESKTOP-PF41LSN\SQL2012;uid=sa;Pwd=sipl@123;Database=Eicher;Timeout=120;"/>
     <!--<add key="Sqlconn" value="Data Source=10.201.1.168;uid=syslogin;Pwd=Support1;Database=Eicher;Timeout=120;"/>-->
    <add key="Utility.Service" value="http://10.201.1.166:1003/Utility/Service.asmx"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <identity impersonate="false"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <authentication mode="Windows"/>
  </system.web>
</configuration>